$hero-full-screen-bg: url('logo.jpg') center center no-repeat;
$hero-full-screen-bg-size: cover;
$hero-full-screen-text-color: black;

.hero-full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $hero-full-screen-bg;
  background-size: $hero-full-screen-bg-size;

  .middle-content-section {
    text-align: center;
    color: $hero-full-screen-text-color;
  }

  .top-content-section {
    width: 100%;
  }

  .bottom-content-section {
    padding: 1rem;

    svg {
      height: rem-calc(60);
      width: rem-calc(60);
      fill: $hero-full-screen-text-color;
    }
  }

  // optional demo styles
  .top-bar {
    background: transparent;

    .menu {
      background: transparent;
    }

    .menu-text {
      color: $hero-full-screen-text-color;
    }

    .menu li {
      display: flex;
      align-items: center;
    }

    .menu a {
      color: $hero-full-screen-text-color;
      font-weight: bold;
    }
  }
}

.container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    height: 100vh;
    @media screen and (max-width: 60em) {
      grid-template-rows: repeat(4, 1fr);
    }
  }
  
  // .grid-1,
  // .grid-2,
  // .grid-3,
  // .grid-4 {
  //   grid-template-rows: repeat(6, 1fr);
  //   grid-template-columns: repeat(6, 1fr);
  // }
  .grid-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    @media screen and (max-width: 60em) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 1;
    }
  }
  
  .grid-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
    @media screen and (max-width: 60em) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 2;
    }
  }
  
  .grid-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    @media screen and (max-width: 60em) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 3;
    }
  }
  
  .grid-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
    @media screen and (max-width: 60em) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 4;
    }
  }
  
  .callout {
    margin: 0;
  }